.guide-modal {
	position: absolute;
	top: 15vh;
	left: 10vw;
	background-color: #fff;
	z-index: 2;
	height: 60vh;
	width: 80vw;
	padding: 5vh 10vw;
	overflow: scroll;
	border-radius: 10px;

	button {
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 22px;
		color: grey;

		&:hover {
			color: black;
		}
	}

	h1 {
		font-size: 28px;
		margin-bottom: 40px;
	}

	h2 {
		font-size: 16px;
		margin-bottom: 40px;
	}

	table {
		margin-top: 20px;

		td {
			font-weight: 400;
			padding: 20px 20px;
			border: 1px solid black;
		}

		tr {
			&:nth-child(2) td {
				border-top: none;
				padding-top: 40px;
			}

			&:last-child td {
				border-bottom: none;
			}
		}
	}
}
