.search {
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid rgb(29, 155, 251);
	outline: none;
	width: 90%;
	margin-top: 15px;
	margin-bottom: 15px;
	box-shadow: rgb(179 179 179) -1px 3px 20px -10px;
}
