@import '../variables.scss';

.sidebar-container {
  margin-top: 8.5vh;

  ul {
    margin-bottom: 20px;
  }

  button {
    color: $link-color;
    transition: all 0.15s;
    white-space: nowrap;

    &:hover {
      color: $darker-link-color;
      cursor: pointer;
    }
  }
}