@import '../variables.scss';

.sidebar-container {
	margin-left: 40px;

	.header {
		margin-bottom: 15px;
	}

	ul {
		margin-bottom: 20px;
	}

	button {
		color: $link-color;
		transition: all 0.15s;
		white-space: nowrap;
		padding: 0;

		&:hover {
			color: $darker-link-color;
			cursor: pointer;
		}
	}
}
